div {
	width: 400px;
	height: auto;
	margin: auto;
}

header{
	width: 1000px;
	height:150px;
	border: 1px; 
	margin: center;
}
		
label{
	display: block;
}
 

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc; /**เส้นขอบ**/
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=password] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
   background-color: #f2f2f2;
    padding: 20px;
}

nav{

	background-color: #696969;
	color-font:#FFFFFF;
	width: auto;
	height: 80px;
 	padding: 20px;
}

body{
	background-color: #BEBEBE;
}

header{
	width: auto;
	height: 80px;
	padding: 20px;
	color-font:#FFFFFF;
	background-color: #696969;
}

